
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    width: 1278px;
    background-color: #e1c8c8;
   

}

header nav ul a:hover {
    background-color: rgb(26, 227, 227);
    padding: 10px 15px;
    border-radius: 20px;
    

}
header nav ul a {
    text-decoration: none;
    margin: 5px 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


header nav ul  {
    display: flex;
    list-style: none;
    text-decoration: none;
 
}

header nav ul li {
    margin-right: 30px;
    
}

.container {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;


}
.centered-text {
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%); 
    font-size: 30px;
}


.centered {
    position: absolute;
    top: 45%;
    right: 19%;
    transform: translate(-50%, -50%);
} 

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.review h2{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
.row{
    display:flex;
    width:100%;
    padding: 10px 10px;
    gap: 30px;
   
}
.colums{
    background-color: #fffafa;
    border:2px solid black;
    border-radius: 10px;
    width: 40%;
    height: 100px; 
    scroll-behavior: smooth;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    flex:50% 
}
.colums h4{
    text-align: center;
}
.colums p{
    margin-top: -10px;
    margin-left: 10px;
}
/* .foote{
    color: white;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: darkslategray;

} */

.tfooter{
    
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    place-items: center;
    background-color: darkslategray;
    padding:10px 30px;
    color: white;
    font-size: large;

}
i{
    color: rgb(215, 107, 202);
}